<strong>Shishu Clinic</strong><br><br>
Your baby has been registered to this clinic.<br>
<br/>
Be sure to log in with your following username and password:<br><br>
  Username: <%= @username %><br>
  Password: <%= @pass %><br>
<br>
<br><br>
Thank you 
<br>
Shishu Clinic
<br>
Address
<br/>
www.wellbabyclinic.com