 <b style="font-size:16px; color:#ff0000">Make Bill</b>  
   <br />
     <%=form_tag%>
  Shishu Code 
  <%=text_field_tag :shishu_code, {},:size=>15,:class=>"sel2"%>  <%=submit_tag "Go"%>
      </form>
      
   <br /><br />